* {
    margin: 0;
    padding: 0;
    position: relative;
}

#header {
    width: 84%;
    height: 68px;
    background-color: #FDF1EB;
    float: right;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

#header p {
    margin-left: 36px;
    font-weight: 400;
    margin-top: 5px;
    font-size: 14px;
    line-height: 16.41px;
    color: #725C5C;
}

#header p:nth-child(2) {
    font-size: 22px;
}

#header p:nth-child(3) {
    font-size: 14px;
}


button {
    position: absolute;
    top: 17px;
    right: 270px;
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
    width: 90px;
    height: 34px;
    border-radius: 3px;
    font-size: 14px;
    background-color: transparent;
}

.language {
    position: absolute;
    left: 9px;
    top: 8px;
    font-family: 'Quicksand', sans-serif;
}

button span {
    position: absolute;
    left: 31px;
    top: 8px;
}

.arrowDown {
    position: absolute;
    left: 78px;
    top: 9px;
}

.welcome {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    position: absolute;
    right: 75px;
    top: 17px;
}

.email {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    position: absolute;
    right: 75px;
    top: 36px;
}

.imgFotoLogin {
    float: right;
    position: absolute;
    top: 19px;
    right: 20px;
    border-radius: 50%;
}

.notification {
    height: 15px;
    width: 15px;
    border-radius: 10px;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    float: right;
    background-color: #F85959;
    color: white;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 17px;
    font-weight: 700;

}

/* ----------------------------------------------------- */

/* Aside Menu */


#menu {
    height: 2510px;
    width: 220px;
    position: absolute;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

.title {
    width: 100%;
    height: 68px;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    text-align: center;
    line-height: 68px;
}

.title h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

#menu ul {
    width: 100%;
    margin-top: 17px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}

#menu ul li {
    height: 33px;
    border-bottom: 2px solid #e5e5e5;
    line-height: 33px;
    text-indent: 24px;
}

.select {
    background-color: #FDF1EB;
}

.select div {
    position: absolute;
    height: 100%;
    width: 5px;
    background: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);

}

/* Aside Detalhes */

#details {
    position: absolute;
    right: 0;
    top: 0;
}

.doiLogo {
    width: 43px;
    height: 31px;
    background-color: #ED7839;
    position: absolute;
    right: 45px;
    top: 88px;
    border-radius: 4px;
}

.doiLogo img {
    width: 19px;
}

.star {
    width: 43px;
    height: 31px;
    background-color: #ED7839;
    position: absolute;
    right: 93px;
    top: 88px;
    border-radius: 4px;
    background-image: url(/assets/Strela\ Logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 19px;
    color: white;
}

.download {
    font-family: 'Roboto', sans-serif;
    text-indent: 12px;
    font-size: 16px;
    color: white;
    width: 120px;
    height: 31px;
    background-color: #ED7839;
    position: absolute;
    right: 141px;
    top: 88px;
    border-radius: 4px;
}

.download img {
    width: 15px;
    position: absolute;
    left: 10px;
}

.paragrafo {
    margin-top: 131px;
    margin-right: 44px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ED7839;
    font-weight: 500;
}

#detailsBox {
    width: 242px;
    height: 439px;
    position: absolute;
    top: 161px;
    right: 45px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #ECECEC;
}

.details-Title {
    width: 100%;
    height: 45px;
    background-color: #FDF1EB;
    border-bottom: 1px solid #ECECEC;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 45px;
    text-indent: 15px;
    font-weight: 500;
    color: #4E4E4E;
    letter-spacing: 1px;
}

.bar {
    float: right;
    height: 367px;
    width: 3px;
    background: #E7E7E7;
    margin-top: 10px;
    margin-right: 6px;
    border-radius: 5px;
}

.bar2 {
    height: 200px;
    width: 100%;
    background: #BFBFBF;
    border-radius: 5px;
}

.infos {
    position: absolute;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    width: 212px;
    height: 364px;
    top: 60px;
    left: 15px;
}

.infos p {
    margin-bottom: 5px;
    color: #5C5C5C;
}

.infos .authors {
    list-style: none;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #5C5C5C;
}

.infos .authors li {
    line-height: 20px;
}

.universityNames {
    list-style: none;
    color: #949090;
}





/* Main*/

main {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
}