* {
    margin: 0;
    padding: 0;
}

#header {
    width: 1146px;
    height: 68px;
    background-color: #FDF1EB;
    float: right;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

#header p {
    margin-left: 36px;
    font-weight: 400;
    margin-top: 5px;
    font-size: 14px;
    line-height: 16.41px;
    color: #725C5C;
}

#header p:nth-child(2) {
    font-size: 22px;
}

#header p:nth-child(3) {
    font-size: 14px;
}


button {
    margin-left: 789px;
    position: absolute;
    top: 17px;
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
    width: 97px;
    height: 34px;
    border-radius: 3px;
    font-size: 14px;
    background-color: transparent;
}

.language{
    position: absolute;
    left: 9px;
    top: 8px;
    font-family: 'Quicksand', sans-serif;
}

button span {
    position: absolute;
    left: 31px;
    top: 8px;
}

.arrowDown{
    position: absolute;
    left: 78px;
    top: 9px;
}

.email{
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    margin-left: 908px;
}